body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h5, h4 {
  font-family: 'Montserrat';
  font-weight: 900;
}

h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 1.5rem;
}

p {
  color: #1f1178;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #1c5557;
  color: white;
}

.white-section {
  background-color: #8bd8e2;
}

/* Navbar CSS */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat'
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 13%;
  position: absolute;
  right: 20%;
  /*Parent tag is div, moves 30% to right of div*/
  border-radius: 50%;
  /*circle img*/
}

/* Skills Section */
#skills {
  position: relative;
  z-index: 1;
}

.skills-title {
  font-size: 1.5rem;
}

.skills-col {
  padding: 5%;
}

.icon {
  color: #430f58;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Achievements Section */
#achievements {
  background-color: #4d787e;
}

.achievements-heading {
  font-family: 'Montserrat';
  font-weight: 900;
  color: rgb(243, 236, 236);
  font-size: 2.5rem;
}

.achievements-text {
  font-size: 2rem;
  line-height: 1.5;
  color: rgb(20, 20, 47);
  text-align: left;
  font-family: Ubuntu;
}

.achievements-image {
  width: 22%;
  border-radius: 15%;
  margin: 20px;
}

/* Education Section */
#education {
  padding: 100px;
}

.education-column {
  padding: 3% 2%;
}

.education-text {
  font-size: 2rem;
  line-height: 1.5;
}

@media (max-width:1028px) {
  .title-image {
    position: static;
    width: 50%;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

/* Resume section */
/* footer section */
