body {
  font-family: Papyrus, fantasy;
  background-image: url("pics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  color: #121b1b;
  margin: 300px;
  text-align: center;

}

h1 {
  text-align: center;
  font-weight: bold;
  color: #0d0e0e;
  font-size: 90px;
}
.container-fluid{
	width: 50%;
	margin: 15%;
	margin-bottom: 0;
	font-family: Papyrus, fantasy;

}
.converter {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
}

input {
	
  width: 100px;
  padding: 5px;
  margin-right: 10px;
}

select {
  padding: 5px;
  margin-right: 10px;
}

.subbtn {
  margin-top: 25px;
  width: 100%;
}
